@model Final.Models.TestCaseModel

@{
    ViewBag.Title = "Create";
}

<h2>New Test Case</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            Title
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            Steps
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Steps)
            @Html.ValidationMessageFor(model => model.Steps)
        </div>

        <div class="editor-label">
            Comments
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            Status
        </div>
        <div class="editor-field">
            @Html.DropDownList("StatusD", "In Progress")
            @Html.ValidationMessageFor(model => model.StatusD)
        </div>

        <div class="editor-label">
            UAT
        </div>
        <div class="editor-field">
            @Html.DropDownList("UATID")
            @Html.ValidationMessageFor(model => model.UATID)
        </div>

        <p>
            <input type="submit" class="btn btn-small btn-primary" value="Create" />
        </p>
    </fieldset>
}

<div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
